<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wanris.module.home">

    <application>
        <activity android:name=".activity.HomeActivity" android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name="com.wanris.module.goods.activity.GoodsDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.wanris.module.web.WebViewActivity" android:screenOrientation="portrait" />
        <activity android:name="com.wanris.module.video.TikTok3Activity" android:screenOrientation="portrait" />
    </application>
</manifest>